services:
  frontend:
    build:
      context: tichu-frontend
      dockerfile: Dockerfile
      args:
        HOST_IP: $HOST_IP
        HOST_PORT: 80
    ports:
      - "80:80"
    restart: unless-stopped

  backend:
    build:
      context: tichu-backend
      dockerfile: src/main/Docker/Dockerfile.jvm
    ports:
      - "8080:8080"
    environment:
      QUARKUS_DATASOURCE_DB_KIND: postgresql
      QUARKUS_DATASOURCE_USERNAME: tichuuser
      QUARKUS_DATASOURCE_PASSWORD: tichupassword
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://db:5432/tichu
      QUARKUS_PROFILE: prod
#      QUARKUS_HTTP_CORS_ORIGINS: http://frontend:80
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: tichu-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tichu
      POSTGRES_USER: tichuuser
      POSTGRES_PASSWORD: tichupassword
    volumes:
      - tichu-db-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  tichu-db-data: